:root {
  --dark: #0f0f0f;
  --light: #ffffff;
  --green: #7cc576;
}

.hero-image {
  background-image: url(imgs/hero-image1.jpg);
  min-height: 90vh;
  background-size: cover;

}

.img-cards {
  padding: 1em;
  box-shadow: 0px 0px 7px #48454541;
}

.content-icons {
  font-size: 3em;
  color: var(--green)
}

.sub-p {
  color: #000000b3;
}

.check-mark {
  color: var(--green);
}

.lighter {
  color: #00000050;
}

.nav-logo {
  font-size: 4em;
}

@media (min-width:768px) {
  .nav-logo {
    padding-left: 2em;
  }
}

.hero-logo {
  font-size: 20em;
  line-height: 1em;
  margin-top: 10em;

}

.nav-btn {
  padding: .5em;
  border-radius: 0px;
}

.nav-btn:hover {
  color: var(--green);
  box-shadow: 0px 2px 0px 0px var(--green);

}

footer {
  background-image: url(imgs/office.jpg);
}

.foot-cont {
  background-color: rgba(0, 0, 0, 0.8);
}

.foot-logo {
  font-size: 10em
}

.hover-divs {
  padding: 1em;
  border-radius: 4px;
}

.hover-divs:hover {
  box-shadow: 0px 0px 7px var(--dark);
}

.hover-divs:hover h3 {
  color: var(--green);
}

.hamburger {}

header {
  text-align: center;
  position: relative;
}

nav {
  background-color: var(--light);
  min-height: 10vh;
  box-shadow: 0px 2px 5px var(--dark);
}

.get-started {
  padding: 1em 2em;
  border-radius: 4px;
  background-color: var(--green);
  color: #ffffff;
}

.get-started:hover {

  background-color: #ffffff;
  color: var(--green);
  border: 3px solid var(--green);
}